{% extends 'base.html.twig' %}

{% block title %}Hello FavoritesController!{% endblock %}

{% block body %}

    {# {% for city in cities %} #}

        {% include 'partials/_cities_list.html.twig' %}

    {# {% endfor %} #}

    {% include "/partials/_favorites.html.twig" %}

        {# <a href="{{ path('favorites_remove', {'id': city.id}) }}"> #}

        </div>

    </div>

        <div class="col">
            <a href="{{ path('favorites_clear')}}" class="btn btn-danger btn-sm" onclick="return confirm('Vider votre liste de favoris ?');">Vider la liste</a>
        </div>

{# 
    <div class="pagination flex justify-center">
    {{ knp_pagination_render(images) }}
    </div> #}

{% endblock %}
