
        <div class="w-full md:w-1/2 relative">  
            <div class="sticky">
            <div id="filterSection" class="block relative md:py-10 lg:px-20 md:px-6 py-9 px-4 bg-gray-50 dark:bg-gray-800 w-full">
                {# Cross button Code #}
                <div onclick="closeFilterSection()" class="sticky cursor-pointer right-0 top-0 md:py-10 lg:px-20 md:px-6 py-9 px-4">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512" fill="gray">
                        
                        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                    </svg>
                </div>
    
                <!-- filter bar fixed -->
                <div class="sticky top-0 bg-slate-100">
                    <div class="flex space-x-2 text-gray-800 dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/>
                            </svg>
                        <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium">Filtres</p>
                    </div>
                </div>
            </div>
                <hr class="bg-gray-200 lg:w-6/12 w-full md:my-10 my-8" />
    
                <!-- Material Section -->
                <div>
                    <div class="flex space-x-2 text-gray-800 dark:text-white">
                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/filter1-svg4.svg" alt="materials"/>
                        <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/filter1-svg4dark.svg" alt="materials"/>
                        <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium ">Material</p>
                    </div>
                    <div class="md:flex md:space-x-6 mt-8 grid grid-cols-3 gap-y-8 flex-wrap">
                        <div class="flex space-x-2 md:justify-center md:items-center items-center justify-start">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Leather" name="Leather" value="Leather" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 dark:text-gray-300 font-normal text-gray-600" for="Leather">Leather</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Cotton" name="Cotton" value="Cotton" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 dark:text-gray-300 font-normal text-gray-600" for="Cotton">Cotton</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex space-x-2 md:justify-center md:items-center items-center justify-end">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Fabric" name="Fabric" value="Fabric" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 dark:text-gray-300 font-normal text-gray-600" for="Fabric">Fabric</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex space-x-2 md:justify-center md:items-center items-center justify-start">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Crocodile" name="Crocodile" value="Crocodile" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 dark:text-gray-300 font-normal text-gray-600" for="Crocodile">Crocodile</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Wool" name="Wool" value="Wool" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 dark:text-gray-300 font-normal text-gray-600" for="Wool">Wool</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <hr class="bg-gray-200 lg:w-6/12 w-full md:my-10 my-8" />
    
                <!-- Size Section -->
                <div>
                    <div class="flex space-x-2 text-gray-800 dark:text-white">
                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/filter1-svg5.svg" alt="size"/>
                        <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/filter1-svg5dark.svg" alt="size"/>
                        <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium ">Size</p>
                    </div>
                    <div class="md:flex md:space-x-6 mt-8 grid grid-cols-3 gap-y-8 flex-wrap">
                        <div class="flex md:justify-center md:items-center items-center justify-start">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Large" name="Large" value="Large" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 font-normal text-gray-600 dark:text-gray-300" for="Large">Large</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Medium" name="Medium" value="Medium" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 font-normal text-gray-600 dark:text-gray-300" for="Medium">Medium</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex md:justify-center md:items-center items-center justify-end">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Small" name="Small" value="Small" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 font-normal text-gray-600 dark:text-gray-300" for="Small">Small</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex md:justify-center md:items-center items-center justify-start">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="Mini" name="Mini" value="Mini" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 font-normal text-gray-600 dark:text-gray-300" for="Mini">Mini</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <hr class="bg-gray-200 lg:w-6/12 w-full md:my-10 my-8" />
    
                <!-- Collection Section -->
                <div>
                    <div class="flex space-x-2 text-gray-800 dark:text-white ">
                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/filter1-svg6.svg" alt="collection"/>
                        <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/filter1-svg6dark.svg" alt="collection"/>
                        <p class="lg:text-2xl text-xl lg:leading-6 leading-5 font-medium ">Collection</p>
                    </div>
                    <div class="flex mt-8 space-x-8">
                        <div class="flex justify-center items-center">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="LS" name="LS" value="LS" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 font-normal dark:text-gray-300 text-gray-600" for="LS">Luxe signature</label>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center">
                            <input class="w-4 h-4 mr-2" type="checkbox" id="LxL" name="LxL" value="LxL" />
                            <div class="inline-block">
                                <div class="flex space-x-6 justify-center items-center">
                                    <label class="mr-2 text-sm leading-3 font-normal dark:text-gray-300 text-gray-600" for="LxL">Luxe x London</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                {# Filter Button desktop version #}
                {# <div class="hidden md:block md:py-10 lg:px-20 md:px-6 py-9 px-4">
                    <button onclick="applyFilters()" class="hover:bg-gray-700 dark:bg-white dark:text-gray-800 dark:hover:bg-gray-100 focus:ring focus:ring-offset-2 focus:ring-gray-800 text-base leading-4 font-medium py-4 px-10 text-white bg-cyan-900">Valider</button>
                </div> #}
    
                {# Filter Button mobile version #}
                <div class="flex justify-between gap-3">
                    <div class="w-full mt-10">
                        <button onclick="applyFilters()" class="w-full hover:bg-sky-600 hover:text-white dark:bg-white dark:text-gray-800 dark:hover:bg-gray-100 focus:ring focus:ring-offset-2 focus:ring-gray-800 text-base leading-4 font-medium py-4 px-10 text-cyan-900 bg-white border-2">Effacer</button>
                    </div>
                    <div class="w-full mt-10">
                        <button onclick="applyFilters()" class="w-full hover:bg-sky-600 dark:bg-white dark:text-gray-800 dark:hover:bg-gray-100 focus:ring focus:ring-offset-2 focus:ring-gray-800 text-base leading-4 font-medium py-4 px-10 text-white bg-cyan-900">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    
        <style>
            .checkbox:checked + .check-icon {
                display: flex;
            }
        </style>
    
        
    