
<div class="container mx-auto">

            <h5 class="text-muted">Filtres</span></h2>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            
            <div class="w-full mt-10">
                <button class="w-1/3 hover:bg-sky-600 hover:text-white dark:bg-white dark:text-gray-800 dark:hover:bg-gray-100 focus:ring focus:ring-offset-2 focus:ring-gray-800 text-base leading-4 font-medium py-4 px-10 text-cyan-900 bg-white border-2">Effacer</button>
            </div>
            <div class="w-1/3 mt-10">
                <button class="w-full hover:bg-sky-600 dark:bg-white dark:text-gray-800 dark:hover:bg-gray-100 focus:ring focus:ring-offset-2 focus:ring-gray-800 text-base leading-4 font-medium py-4 px-10 text-white bg-cyan-900">Valider</button>
            </div>
            {{ form_end(form) }}

</div> 
