<div class="relative inline-block text-left left-4 top-4">
    <div>
        <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
        Tri
            <svg class="-mr-1 h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
            </svg>
        </button>
    </div>

    <div class="hidden absolute left-2 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            <span class="font-semibold text-gray-700 block px-4 py-2 text-sm" id="close-button" role="menuitem" tabindex="-1" id="menu-item-0">
                Tri par
                <i class="fa-solid fa-xmark fa-lg float-right pt-3"></i>
            </span>
        </div>
        <div class="py-1" role="none">
            <a href="{{ path('sort_asc') }}"  class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                <i class="fa-solid fa-arrow-up-a-z fa-lg"></i>
                A - Z</a>
            <a href="{{ path('sort_desc') }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">
                <i class="fa-solid fa-arrow-down-z-a fa-lg"></i>
            Z - A</a>
        </div>
        <div class="py-1" role="none">
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">
                <i class="fa-solid fa-arrow-up-1-9 fa-lg"></i>
            Notes croissantes</a>
            <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">
                <i class="fa-solid fa-arrow-down-9-1 fa-lg"></i>
            Notes décroissantes</a>
        </div>
        <div class="py-1" role="none">
            <a href="{{ path('cities_list') }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">
                <i class="fa-solid fa-rotate-left fa-lg"></i>
            Reset</a>
        </div>
    </div>

</div>