{% extends 'base.html.twig' %}

{% block title %}Modifier le pays{% endblock %}

{% block body %}
    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Modifier le pays</h1>

    {{ include('back/country/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
