{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}

<h1 class="flex justify-center my-4 text-2xl lg:text-3xl font-bold text-cyan-900"> Mentions Légales</h1>

<div class="container w-full mx-auto">

    <h1 class="text-2xl font-bold">Mentions légales & Données personnelles / RGPD</h1>

    <p class="mt-4">Conformément aux dispositions des <a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000043982464/" class="text-blue-500 underline" target="_blank">articles 6 et 19 de la loi pour la Confiance dans l'Économie Numérique</a>, nous vous informons que :</p>

    <h2 class="text-xl font-bold mt-6">Identité et coordonnées de l'éditeur</h2>

    <p class="mt-2">Ce site est édité par Christelle Hidoine, Audrey Tesson, Thomas Bernier et Xavier Gaüzère.</p>
    <ul class="list-disc ml-10 mt-2">
        <li>Adresse : O'Clock</li>
    </ul>

    <p class="mt-2">Responsable de la publication :</p>
    <ul class="list-disc ml-10 mt-2">
        <li>Christelle Hidoine, développpeuse</li>
        <li>Audrey Tesson, développpeuse</li>
        <li>Thomas Bernier, développpeur</li>
        <li>Xavier Gaüzère, développpeur</li>
    </ul>

    <h2 class="text-xl font-bold mt-6">Identité et coordonnées de l'hébergeur</h2>

    <p class="mt-2">Ce site et sa base de données sont hébergés en France sur les serveurs de l'hébergeur VM Kourou :</p>
    <ul class="list-disc ml-10 mt-2">
        <li>VM Kourou</li>
        <li>Adresse : 12 rue du Midi, 12000 Horoville</li>
        <li>Tél. : 00 10 20 30 40</li>
        <li>Site web : o'clock.io</li>
    </ul>

    <h2 class="text-xl font-bold mt-6">Données personnelles & RGPD</h2>

    <h3 class="font-bold mt-4">Objet du traitement (finalité et base légale)</h3>

    <p class="mt-2">Le site New O'rizon, dont les coordonnées sont disponibles ci-dessus, collecte et traite des données personnelles afin de gérer les favoris de l'utilisateur.</p>

    <p class="mt-2">La collecte et le traitement des données effectué par le site New O'rizon a pour base légale <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre2#Article6" class="text-blue-500 underline" target="_blank">l'article 6.1.a du Réglement Européen pour la Protection des Données (RGPD)</a></p>

    <h3 class="font-bold mt-4">Catégories de données</h3>

    <p class="mt-2">Les données à caractère personnel collectées sont les suivantes:

    <ul class="list-disc ml-10 mt-2">
        <li>Identité : nom, prénom, adresse électronique (email).</li>
    </ul>

    <h3 class="font-bold mt-6">Conditions de la collecte et durée de conservation des données</h3>

    <ul class="list-disc ml-10 mt-2">
        <li>Identité : dès la création d'un compte utilisateur sur le site, et jusqu'à ce que le-dit compte utilisateur soit supprimé.</li>
    </ul>

    <h3 class="font-bold mt-6">Destinataires des données</h3>

    <p class="mt-2">Les développeurs du site New O'rizon sont destinataires de l'ensemble des catégories de données à caractère personnel collectées. Les données collectées ne sont en aucun cas transmises à des tiers.</p>

    <h3 class="font-bold mt-6">Vos droits</h3>

    <p class="mt-2">Conformément aux <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre3#Article16" class="text-blue-500 underline" target="_blank">articles 16, 17, 18 et 20 du Réglement Européen pour la Protection des Données (RGPD)</a>, toute personne concernée par la collecte et le traitement de données effectué par le site New O'rizon peut exercer ses droits :</p>

    <ul class="list-disc ml-10 mt-2">
        <li>Droit de rectification : les données personnelles peuvent être rectifiées directement depuis l'espace membre du site.</li>
        <li>Droit à l'effacement (droit à l'oubli) : les données personnelles peuvent être définitivement effacées directement depuis l'espace membre du site.</li>
        <li>Droit à la limitation du traitement des données : sur simple demande par formulaire contact, vous pouvez limiter certains traitements effectués sur vos données.</li>
        <li>Droit à la portabilité des données : sur simple demande par formulaire contact, toutes les données à caractère personnel concernant un utilisateur lui seront transmises au format CSV.</li>
    </ul>

    <h3 class="font-bold mt-6">Délégué à la Protection des Données (DPO) & Responsable du traitement</h3>

    <p class="mt-2">Tout utilisateur du site New O'rizon peut accéder aux données le concernant, les rectifier ou les faire effacer. Les utilisateurs disposent également d'un droit à la portabilité et d’un droit à la limitation du traitement des données (consultez le site <a href="https://www.cnil.fr/" class="text-blue-500 underline" target="_blank">cnil.fr</a> pour plus d’informations sur vos droits).</p>

    <p class="mt-2">Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez faire la demande via le formulaire de contact.</p>

</div>

{% endblock %}