{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900 w-full">Ajouter une image</h1>

    {{ include('back/image/_form.html.twig') }}

{% endblock %}
