{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}

    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Modifier l'utilisateur</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
