{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Créer un nouvel utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

{% endblock %}
