{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}
    <h1>Créer une nouvelle ville</h1>

    {{ include('back/city/_form.html.twig') }}

    <a href="{{ path('app_back_city_index') }}">Retour à la liste des villes</a>
{% endblock %}
