<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}New O'rizon{% endblock %}</title>
        {# font family #}
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
        {# Map leaflet style #}
        <link rel="stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        {# favicon #}
        {# <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon"/> #}
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon" />
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
                
        {% endblock %}
    </head>
    <body>
            {% include "partials/_nav.html.twig" %}

            {% include "partials/_flash.html.twig" %}
    <main>
            {% block body %}{% endblock %}
    </main>        
            {% include "partials/_footer.html.twig" %}
    
        {# Back to top button #}
        {% set route = app.request.get('_route') %}
        {% if route == 'cities_list' or route == 'cities_detail' or route == 'sort_asc' or route == 'sort_desc' or route == 'cities_country' %}
        <button id="to-top-button" onclick="goToTop()" title="Go To Top" class="hidden md:hidden fixed z-40 bottom-8 right-5 border-0 w-10 h-10 drop-shadow-md bg-cyan-900 text-white text-4xl font-bold">&uarr;</button>
        {% endif %}
        

        {% include "partials/_scripts.html.twig" %}

    </body>
</html>
