{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}

    <h1 class="text-3xl text-center my-8 font-bold text-cyan-900">Créer un nouveau commentaire</h1>

    {{ include('back/review/_form.html.twig') }}

{% endblock %}
