{% extends 'base.html.twig' %}

{% block title %}New O'rizon Page d'accueil{% endblock %}

{% block body %}

{# mobile version #}
<div class="w-full grid lg:hidden">
    
    {# Logo #}
    <div class="my-2 lg:hidden">
        <img class="w-1/3 animate-rotate-y animate-infinite animate-duration-[9000ms] animate-ease-in" src="{{asset('images/logo_image.png')}}" alt="Logo du site New O'rizon représentant un globe terrestre transparent aux contours bleus">
    </div>

    {# Text of presentation #}
    <div class="mb-2 pb-4 px-6 lg:hidden">
        <span class="italic font-medium text-cyan-900 text-center ">
            <p class="text-2xl font-bold">Bienvenue sur New O'rizon</p>
            <p class="text-base">Cliquez sur votre destination</p>
            <p class="text-base">Travaillez et voyagez</p>
        </span>
    </div>

    {# Search bar #}
    <div class="mb-3 flex justify-center lg:hidden ">
            <div class="flex mx-6 bg-cyan-900 p-1 w-72 space-x-4 rounded-lg ">
                <div class="flex mx-auto space-x-4 items-center">
                    {# Filter button #}
                    <button id="filter_btn_mobile" aria-label="Ouvrir" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/></svg>
                    </button>
                    <input class="bg-gray-100 outline-none rounded-xl border border-solid" type="text" placeholder="Recherche" />
                </div>
            </div>
    </div>

    {# carousel #}
    {{ include ('partials/_slide_buttons.html.twig') }}

</div>

{# desktop version #}
<div class="max-h-lg hidden lg:block"> 

    {# world map #}
    <div class="relative h-screen w-full grid">
        {# <img src="{{ asset('images/world_map.png')}}" class="grid place-self-center opacity-75" alt="mappemonde"> #}
        {% include "partials/_map_homepage.html.twig" %}

        {# Search bar #}
        <div class="absolute my-3 top-8 left-8 w-1/5">
            <div class="flex bg-cyan-900  w-72 space-x-4 rounded-xl ">
                <div class="flex mx-auto space-x-4 items-center p-1">
                    {# Filter button #}
                    <button id="filter_btn" aria-label="Ouvrir" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/></svg>
                    </button>
                    <input class="bg-gray-100 outline-none rounded-xl border border-solid" type="text" placeholder="Recherche" />
                </div>
            </div>
        </div>

        {# Text of presentation #}
        <div class="absolute left-8 2xl:top-96 xl:top-80 bottom-72 backdrop-brightness-10 ">
            <span class=" text-blue-950 italic font-bold  ">
                <p class="text-xl xl:text-2xl 2xl:text-4xl ">Bienvenue sur</p>
                <p class="text-xl xl:text-2xl 2xl:text-4xl ">New O'rizon</p>
                <p class="text-base lg:text-xl">Cliquez sur votre destination</p>
                <p class="text-base lg:text-xl">Travaillez et voyagez</p>
            </span>
        </div>
    </div>
</div>

{# sidebar_filter #}
{% include "partials/_filter_menu.html.twig" %}

{% endblock %}