{% extends 'base.html.twig' %}

{% block title %}New O'rizon Page d'accueil
{% endblock %}

{% block body %}


	{# mobile version #}
	<div
		class="w-full flex flex-col lg:hidden">

		{# Logo #}
		<div class="my-2 lg:hidden">
			<img class="w-1/3 animate-rotate-y animate-infinite animate-duration-[9000ms] animate-ease-in" src="{{asset('images/logo_image.png')}}" alt="Logo du site New O'rizon représentant un globe terrestre transparent aux contours bleus">
		</div>

		{# Text of presentation #}
		<div class="mb-2 pb-4 px-6 lg:hidden">
			<span class="italic font-medium text-cyan-900 text-center ">
				<p class="text-2xl font-bold">Bienvenue sur New O'rizon</p>
				<p class="text-base">Cliquez sur votre destination</p>
				<p class="text-base">Travaillez et voyagez</p>
			</span>
		</div>

		{# Search bar #}
		<div class="mb-3 flex justify-center lg:hidden ">
			<div class="bg-cyan-900 p-1 w-fit rounded-lg ">
				<div class="flex mx-2 space-x-4 items-center">

					{# Filter button #}
					<button id="filter_btn_mobile" aria-label="Ouvrir" type="button">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/></svg>
					</button>

					{# Cities Search Form#}
					<form class="justify-between" action="{{ path('app_front_city_search')}}">
						<input class="bg-gray-100 outline-none rounded-xl border border-solid" type="text" name="search" placeholder="Recherche par ville"/>
						<button type="submit" id="loupe">
							<i class="fa fa-search text-lg text-white" aria-hidden="false"></i>
						</button>
					</form>

				</div>
			</div>

		</div>

		{# carousel #}
		{{ include ('partials/_slide_buttons.html.twig') }}

	</div>

	{# desktop version #}
	<div class="hidden mt-4 lg:block">
		
		{# world map #}
    	<div class="relative h-screen w-full grid">

        	{% include "partials/_map_homepage.html.twig" %}


			{# Search bar #}
            <div class="absolute my-3 top-8 left-8 w-1/5">
				<div class="flex bg-cyan-900  w-72 space-x-4 rounded-xl ">
					<div
						class="flex mx-auto space-x-4 items-center p-1">

						{# Filter button #}
						<button id="filter_btn" aria-label="Ouvrir" type="button">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/></svg>
						</button>

						{# Cities Search Form#}
						<form action="{{ path('app_front_city_search')}}">
							<input class="bg-gray-100 outline-none rounded-xl border border-solid" type="text" name="search" placeholder="Recherche par ville"/>

							<button type="submit" class="icone-loupe" id="loupe">
								<i class="fa fa-search text-white" aria-hidden="false"></i>
							</button>
						</form>

					</div>
				</div>
			</div>


			{# Text of presentation #}
			{# <div class="absolute left-8 2xl:bottom-60 lg:bottom-48 bottom-72 backdrop-brightness-10 ">
				<span class=" text-blue-950 italic font-bold  ">
					<p class="lg:text-2xl xl:text-4xl ">Bienvenue sur</p>
					<p class="lg:text-2xl xl:text-4xl ">New O'rizon</p>
					<p class="lg:text-base xl:text-2xl">Cliquez sur votre destination</p>
					<p class="lg:text-base xl:text-2xl">Travaillez et voyagez</p>
				</span>
			</div> #}

		{# essai text presentation split à partir de lg #}
			{# text xl et + #}
			<div class="hidden xl:block absolute left-8 2xl:bottom-60 xl:bottom-48 bottom-72 backdrop-brightness-10 ">
				<span class="text-gray-700 italic font-bold">
					<p class="text-4xl ">Bienvenue sur</p>
					<p class="text-4xl ">New O'rizon</p>
					<p class="text-2xl">Cliquez sur votre destination</p>
					<p class="text-2xl">Travaillez et voyagez</p>
				</span>
			</div>
			{# text lg et - #}
			<div class="absolute sm:hidden lg:block xl:hidden inset-x-1/2 w-1/2 top-15 backdrop-brightness-10">
				<span class="text-gray-700 italic font-bold">
					<p class="text-4xl">Bienvenue</p> 
					<p class="absolute text-4xl left-24">sur New O'rizon</p>
				</span>
			</div>

			<div class="absolute sm:hidden lg:block xl:hidden inset-x-1/3 w-1/2 bottom-32 backdrop-brightness-10">
				<span class="text-gray-700 italic font-bold bottom-12">
					<p class="text-4xl">Cliquez sur votre destination</p> 
					<p class="absolute text-2xl left-60">Travaillez et voyagez</p>
				</span>
			</div>
		</div>
	</div>


	{# sidebar_filter #}
	{% include "partials/_filter_menu.html.twig" %}

{% endblock %}

			
