{% extends 'base.html.twig' %}

{% block title %}New O'rizon Page d'accueil{% endblock %}

{% block body %}

<div class="container">

    {# filter_menu #}
    {% include "partials/_filter_menu.html.twig" %}

   

</div>

{% endblock %}