{% extends 'base.html.twig' %}

{% block title %}New O'rizon Page d'accueil{% endblock %}

{% block body %}

<div class="container">
    {% dump(cities)%}

    <div class="bg-cyan-50 flex justify-center mx-12 my-8 p-8 w-4/5 md:w-4/5 lg:w-2/5">
        <span class="italic font-bold ">
            <p class="text-xl">Bienvenue sur New O'rizon</p>
            <p class="text-base">Cliquez sur votre destination</p>
            <p class="text-base">Travaillez et voyagez</p>
        </span>
    </div>

    
    
    <div class="mb-3 flex justify-center ">
       
        <div class="relative mb-4 flex sm:w-1/2 md:w-1/4 lg:w-1/5 flex-wrap ">

            

            <div class="flex bg-blue-500 p-4 w-72 space-x-4 rounded-lg ">
                <div class="flex space-x-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/></svg>
                    

                    <input class="bg-gray-100 outline-none rounded border border-solid" type="text" placeholder="Recherche" />
                </div>
            
    
            </div>
        </div>
    </div>

    {# Desktop and tablet version  #}
    <div class="hidden md:block">
        <img class="object-non w-screen" src="{{ asset("images/9267.jpg") }}" alt="mappemonde">
    </div>

    {# Mobile version #}



    <div
        id="carouselExampleControls"
        class="relative block md:hidden"
        data-te-carousel-init
        data-te-carousel-slide>
        <!--Carousel items-->
        <div
            class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
            <!--First item-->
            <div
                class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                data-te-carousel-item
                data-te-carousel-active>
                {% for city in cities %}
    
                    <img
                        src="{{city.image}}"
                        class="block w-full"
                        alt="Photo d'une ville au hasard" />
                {% endfor %}
            </div>


            <!--Carousel controls - prev item-->
            <button
                class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button"
                data-te-target="#carouselExampleControls"
                data-te-slide="prev">
                <span class="inline-block h-8 w-8">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6">
                        <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </span>
                <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                >Previous</span
                >
            </button>
            <!--Carousel controls - next item-->
            <button
                class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button"
                data-te-target="#carouselExampleControls"
                data-te-slide="next">
                <span class="inline-block h-8 w-8">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6">
                        <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </span>
                <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                >Next</span>
            </button>
        </div>
    
    </div>
        

</div>







{% endblock %}


