{% extends 'base.html.twig' %}

{% block title %}New O'rizon Page d'accueil{% endblock %}

{% block body %}

<div class="container p-auto">
    

    {# Text of presentation #}
    <div class="bg-gray-100 flex justify-center mx-12 my-8 p-8 w-4/5 lg:hidden ">
        <span class="italic font-bold ">
            <p class="text-xl">Bienvenue sur New O'rizon</p>
            <p class="text-base">Cliquez sur votre destination</p>
            <p class="text-base">Travaillez et voyagez</p>
        </span>
    </div>

    {# Search bar mobile version#}
    <div class="mb-3 flex justify-center lg:hidden ">
       
        <div class="mb-4 flex w-1/2 flex-wrap ">
            <div class="flex bg-cyan-900 p-2 w-72 space-x-4 rounded-lg ">
                <div class="flex space-x-4 items-center p-1">
                    {# Filter button #}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/></svg>
                    <input class="bg-gray-100 outline-none rounded border border-solid" type="text" placeholder="Recherche" />
                </div>
            </div>
        </div>
    </div>

    {# Desktop version with world map #}
    
    <div class="hidden lg:block p-10"> 
        <div class=" relative w-screen h-screen bg-contain bg-no-repeat bg-center " style="background-image:url('{{ asset('images/mappemonde.jpg')}}')" alt="mappemonde">

            {# Search bar #}

                <div class="absolute mb-3 lg:top-4 flex w-1/4 lg:w-1/5 flex-wrap ">
                    <div class="flex bg-cyan-900 p-2 w-72 space-x-4 rounded-lg ">
                        <div class="flex space-x-4 items-center p-1">
                            {# Filter button #}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m-6 8a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 1 0 0-4m0 4a2 2 0 1 1 0-4m0 4v2m0-6V4"/></svg>
                            <input class="bg-gray-100 outline-none rounded border border-solid" type="text" placeholder="Recherche" />
                        </div>
                    </div>
                </div>

        
            <div class="absolute left-4 inset-y-2/3 2xl:top-96 backdrop-brightness-10 ">
                <span class=" text-blue-950 italic font-bold  ">
                <p class="text-xl xl:text-2xl 2xl:text-4xl ">Bienvenue sur New O'rizon</p>
                <p class="text-base lg:text-xl">Cliquez sur votre destination</p>
                <p class="text-base lg:text-xl">Travaillez et voyagez</p>
                </span>
            </div>
        </div>
    </div>

    {# Mobile version with carousel#}
    {% dump (images)%}
    <div  id="default-carousel" class="relative w-full block lg:hidden" data-carousel="slide" >
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg sm:h-48 lg:h-96">

        {# Partial carousel #}
            <!-- Item 1 -->
            <div class="duration-700 ease-in-out" data-carousel-item>
                {% for city in cities %}
               
               
                
                    <img
                        src=""
                        class="block w-full"
                        alt="Photo d'une ville au hasard" />
                {% endfor %} 
              
            </div>
            
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>


        
    
        

</div>


{% endblock %}


