{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le Backoffice{% endblock %}

{% block body %}
        
    {% if is_granted('ROLE_ADMIN') %}
    <div class="grid grid-cols-3">
        {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'city' } %}
        {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'country' } %}
        {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'image' } %}
        {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'user' } %}
        {% include 'back/partials/_card_link.html.twig' with { 'entity' : 'review' } %}
    </div>
    {% endif %}

{% endblock %}
