{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="button">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}

{% endblock %}
