{% extends 'base.html.twig' %}

{% block title %}New O'rizon Liste des villes{% endblock %}

{% block body %}

{% include 'partials/_sort.html.twig' %}

{% set isSorted = (app.request.attributes.get("_route") ends with "sort_asc")%}
{% set isFavorites = (app.request.attributes.get("_route") ends with "favorites")%}

<div class="grid w-screen justify-center">
    <div class = "container w-screen md:grid md:grid-row grid-cols-3 md:justify-center md:items-center my-4 mx-4 p-4 gap-x-2 gap-y-4">
{% if images is defined %}

        {% for image in images %}

            {% if isSorted %}

                {% if sortOption == 'asc' %}
                    {# <h2 class="flex justify-center text-xl">Villes triées par ordre ascendant :</h2> #}
                {% else %}
                    {# <h2 class="flex justify-center text-xl">Villes triées par ordre descendant :</h2> #}
                {% endif %}

                {% include 'partials/_cities_list.html.twig' %}

            {% else %}

                {% include 'partials/_cities_list.html.twig' %}

            {% endif %}

        {% endfor %}
{% else %}

    {% include 'partials/_cities_list.html.twig' %}

{% endif %}
    </div>

</div>

<div class="pagination flex justify-center">
    {{ knp_pagination_render(images) }}
</div>

{% endblock %}