{% extends 'base.html.twig' %}

{% block title %}New O'rizon Liste des villes{% endblock %}

{% block body %}

{% include 'partials/_sort.html.twig' %}

{% set isSorted = (app.request.attributes.get("_route") ends with "sort_asc")%}

{% if isSorted %}

    {% if sortOption == 'asc' %}
        <h2 class="flex justify-center text-xl">Villes triées par ordre ascendant :</h2>
    {% else %}
        <h2 class="flex justify-center text-xl">Villes triées par ordre descendant :</h2>
    {% endif %}

    {% for image in images %}

        {% include 'partials/_cities_list.html.twig' %}

    {% endfor %}

{% else %}

    {% for image in images %}

        {% include 'partials/_cities_list.html.twig' %}

    {% endfor %}

{% endif %}

        </div>

    </div>

    <div class="pagination flex justify-center">
    {{ knp_pagination_render(images) }}
    </div>

{% endblock %}