{% extends 'base.html.twig' %}

{% block title %}New O'rizon Liste des villes{% endblock %}

{% block body %}

    <div class="flex justify-center items-center">
        <div class = "container w-full md:flex md:flex-row flex-wrap md:justify-center md:items-center my-4 mx-4 p-4">

            {% for city in cities %}

                <div class="w-1/3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                    {% for image in images %}
                    {# requête custom #}
                        {% if loop.index == 1 %}

                                <a href="{{ path('cities_detail', {'id': city.id}) }}">
                                    <div class="w-full h-96 relative overflow-hidden">
                                        <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105" style="background-image:url('{{ image.url }}')"></div>
                                        <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-50">
                                            <h2 class="p-2 text-2xl font-bold w-fit">
                                                {{ city.name }}</h2>
                                            <h2 class="p-2 text-2xl font-bold w-fit">
                                                {{ city.country.name}}</h2>
                                        </span>
                                    </div>
                                </a>

                        {% endif %}

                    {% endfor %}   

                </div>

            {% endfor %}
            
        </div>
    </div>

{% endblock %}