{% extends 'base.html.twig' %}

{% block title %}New O'rizon Liste des villes{% endblock %}

{% block body %}

{% include 'partials/_sort.html.twig' %}

{% set isSorted = (app.request.attributes.get("_route") ends with "sort_asc")%}

{% if isSorted %}

    {% if sortOption == 'asc' %}
        <h2>Villes triées par ordre ascendant :</h2>
    {% else %}
        <h2>Villes triées par ordre descendant :</h2>
    {% endif %}

    {% for image in images %}

        {% include 'partials/_cities_list.html.twig' %}

    {% endfor %}

{% else %}

    {% for image in images %}

        {% include 'partials/_cities_list.html.twig' %}

    {% endfor %}

{% endif %}


{# ! add redirect to cities page when on cities/asc or /desc #}

<nav aria-label="Page navigation example">
  <ul class="list-style-none flex">
    <li>
      <a
        class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        href="#"
        >Previous</a
      >
    </li>
    <li>
      <a
        class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        href="#"
        >1</a
      >
    </li>
    <li aria-current="page">
      <a
        class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        href="#"
        >2</a
      >
    </li>
    <li>
      <a
        class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        href="#"
        >3</a
      >
    </li>
    <li>
      <a
        class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        href="#"
        >Next</a
      >
    </li>
  </ul>
</nav>

            <div class="navigation d-flex justify-content-center">
{{ knp_pagination_render(images) }}
</div>

        </div>
        
    </div>



{% endblock %}