<div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

{% for image in images %}

    <a href="{{ path('cities_detail', {'id': image.cityId}) }}">
{% endfor %}
        <div class="w-full h-96 relative overflow-hidden">
            <div class="w-full h-full absolute transition-transform duration-300 hover:scale-105"
            style="background-image:url('{{ image.imageUrl }}')">
            </div>

            <span class="text-xl text-white font-bold w-auto flex flex-col justify-center items-center backdrop-brightness-75">
                <h2 class="p-2 text-2xl font-bold w-fit">
                    {{ image.cityName }}</h2>
                <h2 class="p-2 text-2xl font-bold w-fit">
                    {{ image.countryName}}</h2>
                {% include "/partials/_favorites.html.twig" %}
            </span>
            
            <div class="absolute inset-x-0 bottom-4 flex justify-center drop-shadow-lg">
                <i class="fa-solid fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-solid fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-solid fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-regular fa-star-half-stroke drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
                <i class="fa-regular fa-star drop-shadow-lg fa-lg" style="color: #e4a11b;;"></i>
            </div>
        </div>
    </a>

</div>